<div class="dashboard-root">
  <app-header (filterToggle)="showFilters($event)"></app-header>
  <div class="dashboard">
    <app-filters [showFilters]="filtersVisible()" [modelsList]="models()" [toolsList]="tools()" />

    <div class="dashboard-content">
      @if (sharedService.isLoading()) {
      <div class="loader-container">
        <div class="spinner"></div>
        <p>Loading data...</p>
      </div>
      } @else {
      <div class="defects-grid" [style.grid-template-columns]="'repeat(' + gridCols() + ', 1fr)'">
        @if (sharedService.currentFilters().viewType === 'models') {
        @for (modelItem of modelData(); track modelItem.modelId) {
        <app-defect-card [model]="modelItem" (openDetails)="openDefectDetails($event)" />
        } @empty {
        <div class="no-plans">
          <p>No model data found for the selected filters.</p>
        </div>
        }
        } @else {
        @for (toolItem of toolsData(); track toolItem.tool) {
        <app-defect-card [tool]="toolItem" (openDetails)="openDefectDetails($event)" />
        } @empty {
        <div class="no-plans">
          <p>No tool data found for the selected filters.</p>
        </div>
        }
        }
      </div>
      }
    </div>
  </div>
  <app-defect-modal [isOpen]="isModalOpen()" [defectClickData]="selectedDefectClickData()" (close)="closeModal()"
    (refresh)="getPlans()" />
  <app-chat-bot />
</div>